## Introduction

Predict who will survive or die in the Titanic dataset. Familiarize myself with Python data analysis.

### Modeling Framework

1. Framing the problem
    - What are we trying to solve? 
    - Understand the problem.
2. Collecting relevant information & data
    - What data do we have?
    - Gathering any other requirements and understanding success.
3. Process for analysis (Preprocessing & Cleaning)
    - Is the data usable? Can it be plotted?
    - Check for common errors like: missing values, corrupted values, dates
4. Explore the data (Exploratory data analysis)
    - How does the data look like? 
    - Patterns? Plots? Summary statistics? 
    - Get familiar with the data.
5. Feature Engineering (Applied Machine Learning)
    - Can we create more features that will be helpful for the model?
6. Statistical Analysis
    - Multivariate/Bivariate analysis on features
7. Modeling
    - Train vs. Test
    - Should we standardize?
    - What models should we use? 
        - Classification
    - Pre-tuning vs. tuning
        - Are we tuning the models?
8. Evaluation & Scoring
    - How accurate are the models?
    - Should we reiterate again?
9. Results & Productionize
    - Can we create the entire dataset and prediction on a website?

### Framing the problem

Predict the passenger survival rate using the train and test data.

### Collecting relevant data

In [3]:
''' Set directory for the data '''

import os
path = 'C:\\Users\\' + os.getlogin() + '\\Documents\\Programming\\Python\\MachineLearning\\Data'
os.chdir(path)
os.getcwd()
os.listdir()

['01-ign.csv',
 '02-winequality-red.csv',
 '02-winequality-white.csv',
 '03-thanksgiving-2015-poll-data.csv',
 '05-ibm-sales-loss.csv',
 '07-test.csv',
 '07-train.csv',
 'house']

### Import libraries & data

In [5]:
'''Import data analysis & visualization libraries'''
import pandas as pd
import numpy as np
import random as rand
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [16]:
'''Import the train and test data'''

train = pd.read_csv('07-train.csv')
test = pd.read_csv('07-test.csv')

'''Combine the datasets'''
comb = [train, test]
combined = pd.concat(comb, sort='False')

### Preprocessing

Are we able to use the data right away? What type of issues does the data have? How do we fix the issues?

Count the nulls in each column and identify the data types as well.

In [24]:
'''

Some functions to start off with:

train.sample()                                           
train.describe()
    train.describe(include=['O'])
    train.describe(include='all')
train.head()
train.tail()
train.value_counts().sum()
train.isnull().sum()
train.count()
train.fillna()
    train..fillna(train[col].mode(), inplace=True)
train.mean()
train.median()
train.mode()
train.shape
train.info()

'''

"\n\nSome functions to start off with:\n\ntrain.sample()                                           \ntrain.describe()\n    train.describe(include=['O'])\n    train.describe(include='all')\ntrain.head()\ntrain.tail()\ntrain.value_counts().sum()\ntrain.isnull().sum()\ntrain.fillna()\n    train..fillna(train[col].mode(), inplace=True)\ntrain.mean()\ntrain.median()\ntrain.mode()\ntrain.shape\ntrain.info()\n\n"

In [21]:
'''Get data shape, info, columns, & dimensions'''
print ("*"*40)
print('********** train shape: ' + str(train.shape) + '*'*10)
print (train.info())
print ("*"*40)
print('********** test shape: ' + str(test.shape) + '*'*10)
print (test.info())

****************************************
********** train shape: (891, 12)**********
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None
****************************************
********** test shape: (418, 11)**********
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None

### Feature descriptions
1. The Survived variable is our outcome or dependent variable. It is a binary nominal datatype of 1 for survived and 0 for did not survive. All other variables are potential predictor or independent variables. It's important to note, more predictor variables do not make a better model, but the right variables.
2. The PassengerID and Ticket variables are assumed to be random unique identifiers, that have no impact on the outcome variable. Thus, they will be excluded from analysis.
3. The Pclass variable is an ordinal datatype for the ticket class, a proxy for socio-economic status (SES), representing 1 = upper class, 2 = middle class, and 3 = lower class.
4. The Name variable is a nominal datatype. It could be used in feature engineering to derive the gender from title, family size from surname, and SES from titles like doctor or master. Since these variables already exist, we'll make use of it to see if title, like master, makes a difference.
5. The Sex and Embarked variables are a nominal datatype. They will be converted to dummy variables for mathematical calculations.
6. The Age and Fare variable are continuous quantitative datatypes.
7. The SibSp represents number of related siblings/spouse aboard and Parch represents number of related parents/children aboard. Both are discrete quantitative datatypes. This can be used for feature engineering to create a family size and is The Cabin variable is a nominal datatype that can be used in feature engineering for approximate position on ship when the incident occurred and SES from deck levels. However, since there are many null values, it does not add value and thus is excluded from analysis.

### Are there null values?

In [23]:
combined.isnull().sum().sort_values(ascending=False)

Cabin          1014
Survived        418
Age             263
Embarked          2
Fare              1
Ticket            0
SibSp             0
Sex               0
Pclass            0
PassengerId       0
Parch             0
Name              0
dtype: int64

In [35]:
''' The function value_counts() is a series method so we have to use count() instead'''
combined.count()

Age            1046
Cabin           295
Embarked       1307
Fare           1308
Name           1309
Parch          1309
PassengerId    1309
Pclass         1309
Sex            1309
SibSp          1309
Survived        891
Ticket         1309
dtype: int64

In [37]:
'''Get null percentage per column'''
totalnull = round(combined.isnull().sum().sort_values(ascending=False)/len(combined)*100, 2)
percentnull = round(combined.isnull().sum().sort_values(ascending=False)/len(combined)*100,2)

'''Combine horizontally (axis=1) into a dataframe with column names (keys=[])'''
pd.concat([totalnull, percentnull], axis=1, keys=['Total', 'Percent'])

             Total  Percent
Cabin        77.46    77.46
Survived     31.93    31.93
Age          20.09    20.09
Embarked      0.15     0.15
Fare          0.08     0.08
Ticket        0.00     0.00
SibSp         0.00     0.00
Sex           0.00     0.00
Pclass        0.00     0.00
PassengerId   0.00     0.00
Parch         0.00     0.00
Name          0.00     0.00

### Ways to clean up null values

There are several methods on how to handle missing values. There are always some instance where a particular element is absent. It could be due to corrupt data, failure to load the information, never inputted, and more. So understanding a couple methods in handling the NULL/NaN values are crucial. Pandas provides a dropna() function that can be used to drop either columns or rows with missing data.

Some methods are listed below:

1. Removing the rows with missing values using dropna() function
    - inplace parameter: If True, do operation inplace and return None.
    - axis parameter: drop labels from the index (0 or ‘index’) or columns (1 or ‘columns’)
2. Impute the missing values using fillna():
    - Constant value that has meaning within the domain; ex: 0 for not present
    - Value from another randomly selected record (could be random or have the business acumen to figure out a value)
    - Mean, median, mode
    - Value estimated by a predictive model
3. Binning
    - Binning the values that are not present which could provide insight
4. Ignore and leave it as it is