In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame(['Mr', 'Mrs', 'Miss', 'Mr', 'Mrs', 'Mrs', 'King', 'Man'], columns=['Title'])

In [5]:
df

  Title
0    Mr
1   Mrs
2  Miss
3    Mr
4   Mrs
5   Mrs
6  King
7   Man

In [6]:
# Group titles together
female_list = ['Countess', 'Lady', 'Miss', 'Mlle', 'Mme', 'Mrs', 'Ms']
royal_list = ['Col', 'Don', 'Dr', 'Jonkheer', 'Major', 'Sir']
male_list = ['Capt', 'Mr', 'Rev']

In [7]:
df['NewTitle'] = df['Title']
df

  Title NewTitle
0    Mr       Mr
1   Mrs      Mrs
2  Miss     Miss
3    Mr       Mr
4   Mrs      Mrs
5   Mrs      Mrs
6  King     King
7   Man      Man

In [8]:
df2 = df.copy()

In [27]:
for column in df:
    print(column)

Title
NewTitle

In [32]:
for value in df['Title']:
    print(value)

Mr
Mrs
Miss
Mr
Mrs
Mrs
King
Man

In [65]:
df['Title'].isin(female_list)

0    False
1     True
2     True
3    False
4     True
5     True
6    False
7    False
Name: Title, dtype: bool

In [67]:
all_females = df['Title'].isin(female_list)

In [70]:
if df['Title'][0] in (female_list):
    print('yes')
else:
    print('no')

no

In [72]:
if df['Title'][0] in (male_list):
    print('yes')
else:
    print('no')

yes

In [76]:
for i in df['Title']:
    print(i)
    if i in female_list:
        print('Found title...')
        print('Changing title to ' + 'Female')

Mr
Mrs
Found title...
Changing title to Female
Miss
Found title...
Changing title to Female
Mr
Mrs
Found title...
Changing title to Female
Mrs
Found title...
Changing title to Female
King
Man

In [80]:
for i in df['Title']:
    if i in female_list:
        print(i)
        i = 'Female'
        print(i)

Mrs
Female
Miss
Female
Mrs
Female
Mrs
Female

In [40]:
for value in df['Title']:
    if value in female_list:
        df['NewTitle'] == 'Female'
    elif value in male_list:
        df['NewTitle'] == 'Male'
    else:
        df['NewTitle'] == 'Royalty'

In [41]:
df['NewTitle'].iloc[1]

'Royalty'

In [79]:
df

  Title NewTitle
0    Mr  Royalty
1   Mrs  Royalty
2  Miss  Royalty
3    Mr  Royalty
4   Mrs  Royalty
5   Mrs  Royalty
6  King  Royalty
7   Man  Royalty

In [71]:
df['Title'][0]

'Mr'